:root {
  --gradient: linear-gradient(90deg, #0084ffee, #33d6ffee);
  --darker: #c9d4d9dd;
  --regular: #e3edf2dd;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

* {
  font-family: "Poppins";
}

#main {
  margin: auto;
  margin-top: 50px;
  width: 900px;
}

#sockets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  width: fit-content;
}

.socket {
  background: var(--regular);
  border-radius: 10px;
  transition: all 100ms ease-in-out;
  width: 100%;
}

.socket span {
  padding: 10px 20px;
  display: inline-block;
}

#render {
  width: 900px;
  height: 700px;
  outline: 1px solid #44adfd;
  border-radius: 15px;
  margin-bottom: 50px;
  position: relative;
}

ion-icon {
  padding: 7px;
  vertical-align: middle;
  background: var(--regular);
  border-radius: 5px;
  margin: 0 5px;
}

ion-icon:hover {
  cursor: pointer;
  background: var(--darker);
}

#render-img {
  width: 100%;
  height: 100%;
}

.render-text {
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 0.7em;
  overflow-y: scroll;
  overflow-X: hidden;
  height: 80%;
  width: 750px;
}