:root {
  --blue: #44adfd;
  --gradient: linear-gradient(90deg, #0084ffee, var(--blue));
  --darker: #c9d4d9dd;
  --regular: #e3edf2dd;
  --spacing: 15px;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

* {
  font-family: "Poppins";
}

#main {
  margin: auto;
  margin-top: 50px;
  width: fit-content;
}

#sockets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  overflow-Y: auto;
}

.socket {
  background: var(--regular);
  border-radius: 10px;
  transition: all 100ms ease-in-out;
  width: 100%;
}

.socket span {
  padding: 10px var(--spacing);
  display: inline-block;
}

#columns {
  display: flex;
  gap: 10px;
  width: 900px;
  height: 450px;
  margin-bottom: 20px;
}

#render {
  width: 70%;
  outline: 2px solid var(--blue);
  border-radius: 10px;
  position: relative;
}

#details {
  width: 30%;
  padding: 20px;
  position: relative;
  padding-top: 0px;
}

ion-icon {
  padding: 7px;
  vertical-align: middle;
  background: var(--regular);
  border-radius: 5px;
  margin: 0 calc(var(--spacing) / 4);
}

ion-icon:hover {
  cursor: pointer;
  background: var(--darker);
}

#render-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.render-text {
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 0.7em;
  overflow-y: scroll;
  overflow-X: hidden;
  height: 80%;
  width: 80%;
  background: white;
}

#loading {
  width: 70px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

h1, h2, h3, h4 {
  margin: 0px;
}

h3 {
  font-size: 1.1em;
  color: grey;
  font-weight: normal
}

a {
  display: inline;
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}